  <div class="father">
    <app-nav-bar></app-nav-bar>
    <div class="md:w-[70%]  flex m-auto relative mt-[8rem]" style="display: flex ; flex-direction: column ;box-shadow: 2px 2px 15px gray
      ; border-radius: 20px ;">
      <div class="rounded-full bg-white md:w-[180px] md:h-[180px] sm:w-[100px] sm:h-[100px] w-[70px] :h-[70px]  absolute top-[-90px] left-[10%]" style="display: flex; justify-content: center ;
      align-items: center ; box-shadow: 2px 2px 6px gray ;" >
        <div  class="edit_img_btn hover:cursor-pointer"style="position: absolute; width: 25px; height: 25px; background-color: white;top: 80% ;right: 26px
        ;display: flex ;justify-content: center ;align-items: center ;border-radius: 3px; box-shadow: 2px 2px 6px gray ;">

          <i class="fas fa-pen"></i>
        </div>
        <img src="../../../../assets/images/user.png" alt="s," style="width: 95% ; height: 95% ; border-radius: 50%">
      </div>
      <header class="" style="  ; border-radius: 20px 20px 0 0  ; border-bottom: 1px solid lightgray ;  padding: 1rem;display: flex; justify-content: flex-end;
width: 100%;">
        <div style="width: 60%;display: flex;flex-direction: column; gap: .5rem">
          <p style=" font-size: x-large; font-weight: 550; color: #0c2461;font-family:  'Baloo 2', cursive ;">hazem bens aria</p>
          <p style="font-weight: 500 ;color : gray;">sdknbfjskdfjsdnk</p>
          <div>
            <p style="font-family:  'Baloo 2', cursive ;color: rgb(190, 188, 188); margin-right: 4rem;  display: inline; " ><i style="margin-right: 4px;" class="fab fa-linkedin"></i> lkdncjsdb</p>
            <p style="font-family:  'Baloo 2', cursive ;color: rgb(190, 188, 188); margin-right: 4rem; display: inline; " ><i  style="margin-right: 4px;" class="fab fa-facebook-f"></i> kjdhjqd</p>
            <p style="font-family:  'Baloo 2', cursive ;color: rgb(190, 188, 188); margin-right: 4rem;  display: inline; " ><i style="margin-right: 4px;" class="fab fa-twitter"></i> jebd</p>
          </div>
        </div>
        <input (click)="updateProfil()" class="hover:cursor-pointer" type="button" value="upgrade profil" style="align-self: flex-end ;border: 2px red solid ;border-radius: 20px ;padding: .1rem .5rem ;font-size: small ; background-color:red; color: white ">


      </header>
      <div class="content" style="height: 600px ;background-color:#f8f7f7; display: flex ;">
        <div class="leftdiv2" style="width: 30% ;background-color:#f3f3f3;padding-left: 2rem ;padding-top: 2rem">
          <div>


            <p style="font-family:  'Baloo 2', cursive ;color:  #0c2461; font-size: large ;font-weight: 500;" ><i style="margin-right: 5px;" class="fas fa-envelope"></i>hazem@gmail.com</p>
            <p style="font-family:  'Baloo 2', cursive ;color: gray; " ><i style="margin-right: 5px;"  class="fas fa-phone-alt"></i> (Mobile) 58796557</p>
            <p style="font-family:  'Baloo 2', cursive ;color: gray; margin-left: 22px;" >  (Office)</p>
            <p style="font-family:  'Baloo 2', cursive ;color: gray; " ><i style="margin-right: 5px;"  class="fas fa-map-marker-alt"></i> location</p>
          </div>



        </div>
        <div class="rightdiv" style="width: 70% ; display: flex ; flex-direction: column ;   align-items: center ; margin: 2rem 0" >
       <div class="anything" style="width: 80% ; height: 15rem ; background-color: gray;border-radius: 15px ; padding: 1rem ">
 yo"u dont post anything yet !

       </div>
        </div>
      </div>



    </div>
  </div>


