<div class="navbar">
  <div class="container">
    <div id="logo" routerLink="/">BroCode</div>
    <div class="items">
      <div class="item" routerLink="/home">home</div>
      <div class="item">about</div>
      <div class="item" routerLink="/login">log in</div>
      <div class="item" routerLink="/register" style="background-color: #15ccbe; width: 6em ; height: 2em; display: flex ; justify-content: center ; align-items: center ; border-radius: 15px"><p>sign up</p></div>
    </div>

  </div>
</div>
